
.navbar-nav{
	padding-left: 75px;
}


.end{
	display: inline;
	list-style: none;
	}

	#logo1{
		float: right;

	}
	#logo2{
     float: left;
	}
#text2nd{
	padding-left: 92px;
}
.jumbotron{
	border: 1px solid gray;
}
footer{
	background: gray;
}