body{
  overflow-x: hidden;
}
.navbar-nav{
  padding-left: 75px;
}


.end{
  display: inline;
  list-style: none;
  }

  #logo1{
    float: right;

  }
  #logo2{
     float: left;
  }
#text2nd{
  padding-left: 92px;
}
.jumbotron{
  border: 1px solid gray;
}
footer{
  background: #272727;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}
.fa-3x{
  color: gray;
  padding-left: 20px;
  padding-bottom: 10px;
}
.copyright{
font-size: 20px;
padding-left: 40px;
color: gray;
}