<!DOCTYPE html>
<html>
<head>
<title>Our Creations</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/ourcreations.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="TopLogo">
  <div class="row">
  <div class="col-4">
     <img id="logo1" width="250px" height="200px" src="../cusat.jpg">

  </div>
 <div class="col-8">
  <br><br>
    <h2 id="logo2">Cochin University of Science and Technology</h2>
    <br> <br>
    <h4 id="text2nd">Department of Computer Science, CUCEK</h4>
 </div>

</div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item mx-5">
        
  <button class="btn btn-dark">
    Home
  </button>
  

      </li>
      <li class="nav-item mx-5">
        <div class="dropdown">
          <class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
  <button class="btn btn-dark dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" >
    About Us
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#!">Alumini</a>
    <a class="dropdown-item" href="#!">Message from HOD</a>
    <a class="dropdown-item" href="#!">Faculty</a>
    <a class="dropdown-item" href="#!">History</a>
  </div>
</div>
      </li>
      <li class="nav-item mx-5">
        <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Events
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#!">Department Event</a>
    <a class="dropdown-item" href="#!">Other Events</a>
    <a class="dropdown-item" href="#!">Online Events</a>
  </div>
</div>
      </li>
      <li class="nav-item mx-5">
        <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Diaries
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#!">Our Creations</a>
    <a class="dropdown-item" href="#!">Placement Stories</a>
  </div>
</div>
      </li>
      <li class="nav-item  mx-5">
        <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Resources
  </button>
  <div class="dropdown-menu my-1" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item " href="#!">Previous-Year QP</a>
    <a class="dropdown-item" href="#!">Library</a>
    <a class="dropdown-item" href="#!">News Letter</a>
    <a class="dropdown-item" href="#!">Time Table</a>
  </div>
</div>
      </li>
      <li class="nav-item mx-5">
        <div class="dropdown">
  <button  class="btn btn-dark">
    Gallery
  </button>
 
</div>
      </li>
    </ul>
     </div>
</nav>
<br>
<div class="container">
 <div class="row">
 	<div class="col-9">
 		<h3 class="text-center">Top Projects</h3> <br>

 		  <div class="card">
  <img class="card-img-top" src="../c1.jpg" alt="Card image cap" width="400px" height="300px">
  <div class="card-body">
    <h4 class="card-title text-center">Pro1</h4>
    <p class="card-text text-center">
     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <p class="text-center"><a href="#!" class="btn btn-dark">Website</a></p>
  </div>
</div>
 <hr>


<br>

 		  <div class="card">
  <img class="card-img-top" src="../c2.jpg" alt="Card image cap" width="400px" height="300px">
  <div class="card-body">
    <h4 class="card-title text-center">Pro2</h4>
    <p class="card-text text-center">
     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <p class="text-center"><a href="#!" class="btn btn-dark">Website</a></p>
  </div>
</div>
 <hr>


 	</div>
 	<div class="col-3"> <br><Br>
 		<form>
 			  <h3 class="text-center">Add Projects</h3> <br>
 			<label for="name">Your Name</label>
 			<input type="text" name="name" required>
 			<br><br>

 			<label for="sem">Semister</label> <br>
 			<input type="text" name="sem" required>
 			<br><br>

 			<label for="descp">Description</label><br>
 			<textarea name="descp" required></textarea><br><br>
 		    
 		     <label for="link">Links</label> <br>
 			<input type="text" name="link" required>
 			<br><br>

 		<p class="sub">	<input type="submit" name="submit" value="submit" id="sub"></p>


 		</form>

 	</div>
 </div>	
</div>


<footer>
  <br>
  <div class="row">
    <div class="col-9 coffee">
 <a href="#"><i class="fa fa-coffee fa-3x" aria-hidden="true"></i></a>
 </div>
 <div class="col-3 copyright">
 <p><i class="fa fa-copyright" aria-hidden="true"></i> 2018 , CSE-CUCEK</p>
 </div>
 </div>
<br>
</footer>


</body>
</html>