<!DOCTYPE html>
<html>
<head>
<title>Alumini</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/alumini.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="TopLogo">
  <div class="row">
  <div class="col-4">
     <img id="logo1" width="250px" height="200px" src="../cusat.jpg">

  </div>
 <div class="col-8">
  <br><br>
    <h2 id="logo2">Cochin University of Science and Technology</h2>
    <br> <br>
    <h4 id="text2nd">Department of Computer Science, CUCEK</h4>
 </div>

</div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item mx-5">
        
  <button class="btn btn-dark">
    Home
  </button>
  

      </li>
      <li class="nav-item mx-5">
        <div class="dropdown">
          <class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
  <button class="btn btn-dark dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" >
    About Us
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#!">Alumini</a>
    <a class="dropdown-item" href="#!">Message from HOD</a>
    <a class="dropdown-item" href="#!">Faculty</a>
    <a class="dropdown-item" href="#!">History</a>
  </div>
</div>
      </li>
      <li class="nav-item mx-5">
        <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Events
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#!">Department Event</a>
    <a class="dropdown-item" href="#!">Other Events</a>
    <a class="dropdown-item" href="#!">Online Events</a>
  </div>
</div>
      </li>
      <li class="nav-item mx-5">
        <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Diaries
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#!">Our Creations</a>
    <a class="dropdown-item" href="#!">Placement Stories</a>
  </div>
</div>
      </li>
      <li class="nav-item  mx-5">
        <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Resources
  </button>
  <div class="dropdown-menu my-1" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item " href="#!">Previous-Year QP</a>
    <a class="dropdown-item" href="#!">Library</a>
    <a class="dropdown-item" href="#!">News Letter</a>
    <a class="dropdown-item" href="#!">Time Table</a>
  </div>
</div>
      </li>
      <li class="nav-item mx-5">
        <div class="dropdown">
  <button  class="btn btn-dark">
    Gallery
  </button>
 
</div>
      </li>
    </ul>
     </div>
</nav>
<br>
<div class="container">
   <div class="row">
    <div class="col-1"></div>
     <div class="col-10">
       <table class="table table-responsive ">
  <thead class="thead">
    <tr>
      <th style="width: 15%">Sl No</th>
      <th style="width: 20%">Name</th>
      <th style="width: 15%">Passing Year</th>
      <th style="width: 40%">Current Position</th>
      <th style="width: 15%">Photo</th>
      <th style="width: 15%">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td>1</td>
      <td>clay</td>
      <td>2006</td>
      <td>free</td>
      <td><img width="150px" height="100px" src="../c1.jpg"></td>
      <td><a href="">website</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>hannah</td>
      <td>2006</td>
      <td>lost</td>
      <td><img width="150px" height="100px" src="../c2.jpg"></td>
      <td><a href="">website</a></td>
    </tr>
  </tbody>
</table>
     </div> 
     <div class="col-1"></div>
   </div>

</div>
<footer>
  <br>
  <div class="row">
    <div class="col-9 coffee">
 <a href="#"><i class="fa fa-coffee fa-3x" aria-hidden="true"></i></a>
 </div>
 <div class="col-3 copyright">
 <p><i class="fa fa-copyright" aria-hidden="true"></i> 2018 , CSE-CUCEK</p>
 </div>
 </div>
<br>
</footer>


</body>
</html>